name: Python CICD

on:
  push:
    branches: [ main ]
  pull_request:
  
jobs:
  run-test:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.15.0-alpha.2"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run basic tests
        run: pytest -q

      - name: Run tests with coverage
        run: |
          pytest -q \
            --cov=. \
            --cov-repot=term \
            --cov-report=xml \

      - name: Run tests
        run: pytest

      - name: Prepare the webpage
        run:
          mkdir sites
          mv htmlcov sites/
          mv coverage.xml sites/

Deploy:
  needs: run-tests
  runs-on: ubuntu-latest
    permissions:
      pages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
